html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    width: 100%;
    height: 100%;
}
header {
    width: 100%;
    position: fixed;
}
main {
    padding: 1rem;
}

.section {
    margin-top: 5rem;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h1, h2, h3, h4 {
    color: rgb(124, 113, 113);
    font-weight: 700;
}

/* Paragraphs */
p {
    font-size: 1rem;
    color: rgb(37, 34, 34);
}

/* link styles */
a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: teal;
}
/* List styles */
li  {
    list-style-type: none;
}

/* // Navigation styles*/
nav {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 0.6rem 0.6rem;
    border-bottom: darkgray solid 2px;
}
nav a h2 {
    color:darkgray;
    font-size: 2rem;
    margin-block-start: 0.3rem;
    margin-block-end: auto;
}
.header_logo {
    padding-left: 0.7rem;
}
.header_menu {
    padding-top: 1.5rem;
    padding-right: 1rem;
}
.breadcrumb {
    display: block;
    height: 0.125rem;
    width: 1.625rem;
    background-color: #000;
    transition: all 400ms ease-in-out;
    transform-origin: 3px 1px;
}
.breadcrumb:not(:last-child) {
    margin-bottom: 0.3125rem;
}
/* // Animated mobile menu*/
.opened .line_1 {
    transform: rotate(45deg);
}
.opened .line_2 {
    opacity: 0;
}
.opened .line_3 {
    transform: rotate(-45deg);
}
/* // Desktop view top menu*/
.nav-bar {
    margin-right: 4rem;
}
.nav-bar-group {
    display: flex;
}
.nav-bar-group li a {
    color: white;
    display: inline-block;
    padding: 1rem 1.5rem;
    cursor: pointer;
}
.nav-bar-group li a:hover {
    border-bottom: 2px solid darkgrey;
    border-bottom-right-radius: 30%;
}

/* Mobile Menu */
.mobile_menu {
    display: none;
}

/*Mobile menu dropdown*/
.menu_drop_down {
    display: block;
    margin: 0.3rem 1.1rem;
    padding: 1.625rem;
    background-color: darkgray;
    border-radius: 2%;
    border-bottom-right-radius: 50%;
    transition: all 2s ease-in-out;
}
.menu_drop_down a {
    display: block;
    font-size: 1.3rem;
    text-align: center;
    color: white;
}
.menu_drop_down a:not(:first-child) {
    padding-top: 1rem;
}

/* Form Styles */
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

textarea {
    overflow: auto;
}

/* Footer Styles */
footer {
    background-color: darkgray;
    margin-bottom: 0;
    text-align: center;
}
footer a {
    display: inline-block;
    font-size: 2.5rem;
    margin: 0.5rem;
    padding: 0.7rem;
}
.footer-text {
    font-size: 0.8rem;
    padding: 0.8rem;
    color: white;
    
}

/* Media queries*/
@media screen and (max-width: 640px) {
    .nav-bar {
        display: none;
    }
}

@media screen and (min-width: 641px) {
    .breadcrumb {
        display: none;
    }
    header {
        position: relative;
    }
    .nav {
        background-color: teal;
        font-size: 1.5em;
        border-bottom: none;
    }
    .header_logo {
        margin-block-start: 0.9rem;
        padding-left: 1rem;
    }
    .mobile_menu {
        display: none;
    }
    
}