/* Flex boxes Styles */
.width_100 {
    width: 100%;
}

/*Hero section styles*/
.hero {
    padding-top: 1rem;
}
.hero-left-box {
    line-height: 1.7;
    /*max-width: */
}
.hero-left-box h1 {
    font-size: 2rem;
}
.job-role {
    font-size: 1.2rem;
    display: inline-block;
    padding-top: 1rem;
}
.job-skills {
    padding-bottom: 1.8rem;
}
/*Contact button*/
.top-box .btn {
    font-size: 1em;
    background-color: #dc3545;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
}
.my_photo img {
    border-radius: 50%;
}


/* About Section Styles */
#about {
    background-color: rgb(245, 245, 245);
    padding: 00.5rem;
    border-radius: 5%;
}
.height_250 {
    height: 250px;
    width: 100%;
    border-radius: 8%;
    padding: 1rem;
    padding-left: 0;
    display: none;
}

/* Skills Section Styles */
#skills {
    background-color: rgb(245, 245, 245);
    padding: 0.5rem;
    border-radius: 5%;
}
#skills p {
    font-style: italic;
    font-weight: 600;
}
.skills-section-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.skills-section-boxes div {
    width: 45%;
    margin: 1rem auto;
}
.skills-section-boxes img {
    width: 100%;
}

/* Portfolio Section Styles */
.projects-box div {
    width: 100%;
}

.projects-box div:not(last-child) {
    padding: 0 0 1rem 0;
    text-align: center;
}
.projects-box div h5 {
    font-size: 1rem;
}
.project-links a {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 0.5rem;
    font-size: 1rem;
    margin-left: 1rem;
}

/* Contact Section Styles */
#contact {
    text-align: center;
}

#contact-form {
    width: 100%;
    margin: auto;
    font-size: 1rem;
    border: 1px solid darkgray;
    border-radius: 3%;
}
#contact-form input {
    width: 70%;
    height: 3rem;
    margin-top: 2rem;
    color: darkgray;
    border: 1px solid darkgray;
    border-radius: 8%;
}
#contact-form input::placeholder {
    color: darkgray;
}
#contact-form textarea  {
    width: 70%;
    margin-top: 2rem;
    color: darkgray;
    border: 1px solid darkgray;
    border-radius: 8%;
}
#submit {
    background-color: #dc3545;
    color: #ffffff !important;
    margin-bottom: 2rem;
    cursor: pointer;
}

/* Media queries*/

@media screen and (min-width: 641px) {
    .flex {
        display: flex;
        flex-shrink: 1;
        width: 95%;
        max-width: 1100px;
        margin: auto;
    }
    /*Skills section*/
    #skills p {
        margin-left: 6rem;
    }
    .skills-section-boxes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    /* Portfolio Section Styles */
    .projects-box div:not(last-child) {
    padding: 1rem;
    }

    /*Contact button*/
    .top-box .btn {
    font-size: 2em;
    padding: 15px 20px;
    }
.btn:hover {
    background-color: darkgray;
    color: white;
    }

    .section h2 {
        margin-left: 6rem; 
    }
    #about, #skills {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    
    .hero-left-box h1 {
        font-size: 3rem;
    }
    
    .my_photo img {
        border: 1px solid teal;
        border-radius: 50%;
    }
    .height_250 {
        display: block;
    }
    
#contact-form {
    width: 60%;
}
}